@model IEnumerable<TwinSkinLondon.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VAT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DeliveryCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VAT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeliveryCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.EmailAddress)
            </td>
            <td>
                <a class="btn-primary" asp-action="Edit" asp-route-id="@item.OrderID">Edit</a> |
                <a class="btn-primary" asp-action="Details" asp-route-id="@item.OrderID">Details</a> |
                <a class="btn-primary" asp-action="Delete" asp-route-id="@item.OrderID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
