@model IEnumerable<TwinSkinLondon.Models.Review>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a class="btn-primary" asp-action="Create">Create New</a>
</p>
<table class="table" style=" border: 1px solid #D2BE86;>
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StarRating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReviewField)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Product)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StarRating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReviewField)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.EmailAddress)
            </td>
            <td>
                <a class="btn-primary" asp-action="Edit" asp-route-id="@item.ReviewID">Edit</a> |
                <a class="btn-primary" asp-action="Details" asp-route-id="@item.ReviewID">Details</a> |
                <a class="btn-primary" asp-action="Delete" asp-route-id="@item.ReviewID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
